In [6]:
import pandas as pd
from datetime import datetime
from dateutil import parser

In [2]:
df = pd.read_excel(r"C:\Users\Lessard_M\Documents\Python\tor_fileuploader\data source\test_crstemplate_GG.xlsx",header = 1)
df = df.loc[1:].reset_index(drop=True)

In [ ]:
df["Commitment date (dd-mm-yyyy)"] = pd.to_datetime(df["Commitment date (dd-mm-yyyy)"],format = "%d-%m-%Y",dayfirst = True)

In [ ]:
def date_converter (df,colname,output_format = "%d-%m-%Y"):
    """Converts dates to dd-mm-yyyy format. Input dataframe and column to be converted. The default output_format is "dd-mm-yyyy" """
    def save_converter(x):
        if pd.isna(colname):
            return pd.NaT
        try:
            return pd.to_datetime(x, format = output_format,dayfirst = True,error = "coarse")
        except: 
            pass
        try:
            return parser.parse(str(x),dayfirst = True,fuzzy = True)
        except:
            return pd.NaT
    df[colname] = df[colname].apply(save_converter)
    df[colname] = df[colname].dt.strftime(output_format)
    return df

In [8]:
df_new = date_converter(df,"Commitment date (dd-mm-yyyy)","%d-%m-%Y")

In [10]:
df_new.head()

,Reporting year,Commitment date (dd-mm-yyyy),Reporting country / organisation,Extending agency,CRS Identification N°,Donor project N°,Nature of submission,Recipient code,Channel of delivery name,Channel code,...,Arrears of interest / \nArrears of guarantee fee,Guaranteed amount,Average use of portfolio guarantee %,PSI flag,Additionality type,Additionality assessment,Additionality – development objective,Income Group,Discount Rate,Grant Element
0,2024,15-01-2022,1,1,20220000001,abcd,1,998,African Development Bank,12004.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024,15-01-2024,1,1,20220000002,abcd,1,249,International Committee of the Red Cross,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024,31-12-2021,1,1,20220000003,abcd,3,998,Institute for Advanced Research and Policy Stu...,51010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024,01-01-2024,1,1,20220000004,abcd,1,998,Republic of Ireland,12003.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024,01-01-2024,7000,1,20220000005,abcd,8,998,Private sector partnership with local small an...,21045.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
data = {
    "Commitment date (dd-mm-yyyy)": [
        "01. 12. 2023", "2023/11/05 14:00", "5 Nov 2023", "12th January 2024 09:30", None
    ]
}

In [20]:
df_test = pd.DataFrame(data)

In [22]:
df_new = date_converter(df_test,"Commitment date (dd-mm-yyyy)","%d-%m-%Y")

In [23]:
df_new.head()

  Commitment date (dd-mm-yyyy)
0                   01-12-2023
1                   11-05-2023
2                   05-11-2023
3                   12-01-2024
4                          NaN